Source: libfcache
Section: unknown
Priority: extra
Maintainer: Joachim Metz <joachim.metz@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev
Standards-Version: 3.8.3
Homepage: http://code.google.com/p/libfcache/

Package: libfcache
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: libfcache-dbg
Description: Library to provide generic file data cache functions
 libfcache is a library to provide generic file data cache functions.

Package: libfcache-dbg
Architecture: any
Section: debug
Depends: libfcache (= ${Source-Version}), ${misc:Depends}
Description: Debugging symbols for libfcache
 Debugging symbols for libfcache.

Package: libfcache-dev
Section: libdevel
Architecture: any
Depends: libfcache (= ${Source-Version})
Description: Header files and libraries for developing applications for libfcache
 Header files and libraries for developing applications for libfcache.

